POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
PGADMIN_EMAIL=
PGADMIN_PASSWORD=
JWT_SECRET=
JWT_EXPIRATION=86400000
SERVER_PORT=8080
REDIS_HOST=localhost
REDIS_PORT=6379
MAIL_HOST=localhost
MAIL_PORT=1025
GMAIL_USERNAME=
GMAIL_APP_PASSWORD=
STUCK_ORDER_INTERVAL_MS=900000
STUCK_ORDER_THRESHOLD_HOURS=1
